@import '../../../assets/scss/abstracts/abstracts';
.buttonStyle{
  min-width:134px;
  height:43px;
  border-radius: 84px;
  margin:10px;
  font-size:14px;
}
.border-grey{
  border:1px solid #3C4758;
}
.border-green{
  border:1px solid #837F39;
}