.messages {
    padding: 5px;
    overflow: auto;
    flex: auto;
  }
  .container2{
    margin-left: 5%;
  }
  .paragraph{
    margin-left: 0%;
  }
  .react-scroll-to-bottom--css-azget-1tj0vk3{
    display: none;
  }