.head{
    
    background-color: #f0f5f5;
    
  }
  .form-control{
      border-radius: 1cm;
  }
  .modal-title{
      font-weight: 500;
      font-size: 23px;
      color: #25363F;
  }
  .buttons{
      float: right;
  }
  .pre-built{
    background: #F6F6F8;
    border: 1px solid rgba(60, 71, 88, 0.16);
  }
  .select {
    color: #3C4858;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding-top: 20px;
    padding-left: 12px;
    padding-right: 8px;
  }
  .searchBox {
    border-radius: 1cm;
    border: 1px solid #ced4da;
  }
  .searchBoxOne {
    border-radius: 1cm;
    border: 1px solid #ced4da;
    width: 120px !important;
    height: 40px !important;
    margin-right: 3px;
  }
  .scoreBox {
    border-radius: 1cm;
    border: 1px solid #ced4da;
    width: 60px !important;
    height: 40px !important;
  }
  .label-area {
    border-radius: 1cm;
    border: 1px solid #ced4da;
    width: 170px !important;
    height: 40px !important;
  }
  .textarea-description {
    border-radius: 1cm;
    border: 1px solid #ced4da;
    width: 170px !important;
    // height: 40px !important;
  }