@import '../../assets/scss/abstracts/abstracts';

.react-bootstrap-table table {
  table-layout: inherit;
  background-color: white;
}

.react-bootstrap-table td {
  font-size: 12px;
}

.react-bootstrap-table td,
.react-bootstrap-table th {
  padding: 10px;
}

.react-bootstrap-table th {
  font-size: 10px;
  width: 110px;
}

.react-bootstrap-table thead {
  background-color: rgba(42, 137, 129, 0.17);
}

.react-bootstrap-table-pagination-total {
  margin-top: -28px !important;
}