@import '../../../assets/scss/abstracts/abstracts';

.select-box{
   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 6px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  //margin-right: 2rem;
  padding-right: 2rem;
  border-radius: 40px;
  border:1px solid rgba(60, 71, 88, 0.28);
  background-color: #FFFFFF;
  min-width: 180px;
  height:40px;
  padding-left:15px;
  font-size: 14px;
}
.custom-dropdown{
  border-radius: 100px!important;
  position: relative;
  //z-index: 50;
}

@media screen and (max-width:551px){
  .fs14 {
      margin-right: -55px;
  }
}