.main-div{
    padding: 16px;
    .div-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .create-kpi-btn{
        font-size: 0.8rem;
        text-transform: unset;
    }
}

.kpis-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}