.count-style {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background-color: #3fc429;
  margin-left: 20px;
  margin-bottom: 20px;
}
.count-number {
  text-align: center;
  line-height: 70px;
  color: white;
}
.bg-gray {
  background-color: #f1f6f6;
}
.text-teal {
  color: #2a8981;
}
.h43 {
  height: 43px;
}
.searchInput-icon2 {
  z-index: 9;
}
