.sidebar-list-items {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
.sidebar-list-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  margin-right: 1rem !important;
}
.sidebar-list-icon {
  width: 15px;
  height: 15px;
  margin: 0 10px 0 10px;
}
.user-dropdown {
  width: 200px !important;
}
.sidebar{
  position: fixed;
  top:0;
  left:0;
  z-index: 999;
  background-color: var(--ts-primary);
  width:100%;
}
.sidebar-scroll{
  height:auto;
  overflow: auto;
  width:250px;
}
.collapse{
  margin-left:50px;
  margin-top:0px;
  padding:0px;
}
.setup{
  margin-left:0px;
  margin-top:20px;
}
.setup:hover{
  color: var(--ts-primary);
  cursor: pointer;
}
.adminActivities{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  color: white;
}
.hide{
  display: none!important;
}
.sidebar-icon-only .sidebar-list-items{
  width:50px;
}
.sidebar-icon-only .link-text,.sidebar-icon-only .adminActivities{
  display: none;
}
.sidebar-icon-only .sidebar-scroll{
  width:50px;
}
.sidebar-icon-only .collapse{
  margin-left: 0px;
}

.zindex99{
  z-index: 99!important;
}
.right-side{
  transform: rotateY(180deg);
}

.left-side{
  transform: rotateY(0deg);
}

.sidebar_new_link {
  color: white !important;
  
  &:hover {
    text-decoration: none;
    
    .sidebar-list-item {
      background: white !important;
      border-radius: 20px !important;
      color: var(--ts-primary) !important;
      max-width: 260px !important;
      
      .link-text {
        color: var(--ts-primary) !important;
      }
    }
  }
}

.active-nav-item {
  .sidebar-list-item {
    background: white !important;
    border-radius: 20px !important;
    
    .link-text {
      color: var(--ts-primary) !important;
    }
  }
}

.text-light {
  color: white !important;
}

.admin-activity-text {
  color: white !important;
}

// Mobile styles - make admin activities black in navbar
@media screen and (max-width: 991px) {
  .mobile-admin-activities {
    .admin-activity-text {
      color: #000000 !important;
      .link-text {
        color: #000000 !important;
        display: inline-block !important;
      }
    }
    
    .sidebar_new_link.admin-activity-text {
      color: #000000 !important;

      &:hover {
        .sidebar-list-item {
          background: transparent !important;
          color: #000000 !important;
          padding:2px;
          .link-text {
            color: #000000 !important;
          }
        }
      }
    }
    
    .adminActivities {
      color: #000000 !important;
      display: inline-block !important;
      padding:0px;
      margin:0px;
    }
  }
}