.sele{
    border-radius: "10px";
}
.dateperf{
    box-sizing: border-box;
position: relative;
border-radius: 20px!important;
background: #FFFFFF;
border: 1px solid rgba(60, 71, 88, 0.38);
  }
  .bg-green{
    background-color: #837F39;
  }
  .textinp{
    border-radius: "10px";
  }
  .buttons{
    float: right;
}
.date{
    border-radius: 40px;
    border:1px solid rgba(60, 71, 88, 0.28);
    width: 180px;
    color: gray;
  }
  .label{
    padding-bottom: 0;
  }
  .form-control{
    border-radius: 1cm;
    //padding:5px!important;
    //padding: 0 !important;
    //margin:0 !important
}

.actionDropdown .dropdown-toggle:after { content: none }